@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

input[type="file"] {
  display: none;
}

.navbar {
  @apply bg-white w-full h-[65px] fixed top-0 border-b border-gray-300 flex justify-between items-center p-1;
}
